/* ==================== */
/* --> START Label <-- */
/* ==================== */
.label {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;

    font-size: 1rem;
    color: var(--grey10);
    font-weight: var(--font-weight-medium);
}

/* --> END Label  <-- */

/* ==================== */
/* --> START FieldError <-- */
/* ==================== */
.fieldError {
    color: var(--danger);
    font-size: 1rem;
}

/* --> END FieldError  <-- */

