@import 'src/styles/variables';
@import 'src/styles/mixins';

/* ==================== */
/* --> START input <-- */
/* ==================== */
.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  background-color: $grey10;
  border-radius: $border3;
  padding: 0.5rem 0.3rem;
  border: 0;
  font-size: $fz-normal;
}

.togglePasswordBtn {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 0;
  font-size: $fz-large;
}

/* --> END Inputed <-- */
