@use 'sass:color';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.privateLayout {
	@include flex-column();
	height: 100%;
	@include media-md {
		display: grid;
		grid-template-columns: 13rem 1fr;
		grid-template-rows: 3rem 1fr;
		grid-template-areas:
			'header header'
			'aside main';
	}
}

.header {
	grid-area: header;
	@include flex-center-vert(0.5rem);
	padding: 0.5rem;
	background-color: $header-bg-color;
	border-bottom: 1px solid lighten($header-bg-color, 30%);
	height: 3rem;

	@include media-md {
		height: 100%;
	}
}

.headerNav {
	@include flex-column(0.5rem);
	flex: 1;
}

.navLink {
	color: $grey60;
	transition: color 0.2s;

	&:hover {
		color: $grey40;
	}

	&[data-status='active'] {
		color: $grey10;
	}
}

.aside {
	@include flex-column(0.5rem);
	@include box(60%, 100%);
	grid-area: aside;

	position: fixed;
	top: 0;
	left: 0;
	background: $header-bg-color;
	transform: translateX(-100%);
	padding: 0.5rem;
	text-align: left;
	transition: transform 0.3s ease-in-out;
	z-index: $z-index2;
	overflow: hidden;
	border-right: 1px solid lighten($header-bg-color, 30%);

	@include media-md {
		position: initial;
		transform: translateX(0);
		width: 100%;
	}
}

.openAside {
	transform: translateX(0);
}
.asideHeader {
	@include flex-center-vert();
	justify-content: flex-end;
}

.toggleNavButton {
	@include flex-center();
	background: none;
	outline: none;
	border: none;
	font-size: 1.5rem;
	color: $grey10;

	@include media-md {
		display: none;
	}
}

.appName {
	color: $grey10;
	font-size: $fz-large;
	font-weight: $fw-medium;
}

.main{
	grid-area: main;
	height: 100%;
	overflow: auto;
}
