@import 'src/styles/variables';
@import 'src/styles/mixins';

/* ==================== */
/* --> START Label <-- */
/* ==================== */
.label {
  @include flex-column(0.2rem);

  font-size: $fz-normal;
  color: $grey10;
  font-weight: $fw-medium;
}

/* --> END Label  <-- */

/* ==================== */
/* --> START FieldError <-- */
/* ==================== */
.fieldError {
  color: $danger;
  font-weight: $fw-medium;
}

/* --> END FieldError  <-- */
